{% extends 'tkeleza/base.html' %}
{% block content %}
{% load static %}
<style>
    .email-sent-container {
        margin-top: 80px; /* Adjust to match navbar height */
        padding: 20px;
    }

    @media (max-width: 768px) {
        .email-sent-container {
            margin-top: 90px; /* Adjust for mobile navbar height */
        }
    }

    .email-sent-container h2 {
        font-size: 1.5rem;
        font-weight: bold;
        color: #333;
        text-align: center;
        margin-bottom: 10px;
    }

    .email-sent-container p {
        font-size: 1rem;
        color: #555;
        text-align: center;
    }
</style>

<div class="email-sent-container">
    <h2>Email Sent</h2>
    <p>
        If an account with the provided email exists, a password reset link has been sent. Check your email.
    </p>
</div>
{% endblock %}
